* {
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

body{
    font-family: "Roboto";
    font-weight: 100;
}

.navigation span{
    display: block;
    text-align:center;
    line-height: 24px;
}
.logo {
    height: 64px;
    display: block;
    margin: 0 auto;
}

.navigation a:hover,
.navigation a:active {
    color: #05A8AA;
    cursor: pointer;
    
}

.navigation a {
    color:black;
    text-decoration: none;
}

/*header*/

.header {
    background-size:cover;
    width: 100vw;
    height: 400px;
    background-position: center;
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_burgerphoto.jpeg");
    margin: 10px 0;
}

h1 {
    font-size: 32px;
    width: 200px;
    margin: 0 auto;
    font-weight: 500;
    background-color:#05A8AA;
    color: white;
    text-align: center;

}
/*introduction*/

.introduction {
    text-align:center;
    width: 100vw;
    margin: 0 auto;
}

/*button*/

.button {
    width: 200px;
    display: block;
    margin: 10px auto;
    text-align:center;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #05a8aa;
    padding: 10px;
    border: 2px solid #05a8aa;
    border-radius: 5px;
    cursor:pointer;
}

.button:hover,
.button:active {
    color: white;
    background-color: #05a8aa;
}

/*nutrtion*/

.nutrition{
    list-style: none;
    width: 200px;
    margin: 0 auto;
}

.nutrition li {
    width: 200px;  
    text-align: center;
    color: white;
    background-color: #05a8aa;
    padding:10px;
    margin: 5px 0;
}

.nutrition span {
    display: block;
}

.nutrtion .name,
.nutrition .amount {
    font-size: 18px;
}

.nutrition .amount {
    font-weight: 700;
}
